<div class="dropdownTurno">
  <label for="{{ id or 'turno' }}">{{ label or 'Turno' }}</label>

  <div class="dropdownTurno-btn" onclick="toggleDropdown(this)">
    <span class="selected-text">Selecione...</span>
    <span class="arrow"></span>
  </div>

  <div class="dropdownTurno-content">
    {% for value, text in options_turno %}
      <div class="dropdownTurno-item" data-value="{{ value }}">{{ text }}</div>
    {% endfor %}
  </div>

  <input type="hidden" name="{{ name or 'turno' }}" id="{{ id or 'turno' }}" value="">
</div>


<!-- testee  -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/boxs/dropdown_turno.css') }}">
<script src="{{ url_for('static', filename='js/dropdown_turno.js') }}"></script>
