.botao-adicionar-usuarios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;            
    height: 60px;
    border-radius: 50%;     
    background-color: rgba(229, 124, 58, 0.2); /* E57C3A com 20% de opacidade */
    text-decoration: none;  
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    position: fixed;     
    right: 193px;         
    top: 350px;           
    z-index: 1000;       
}

.botao-adicionar-usuarios svg {
    width: 30px;
    height: 30px;
    stroke: #E57C3A;       
}

/* Hover elegante */
.botao-adicionar-usuarios:hover {
    transform: scale(1.05);                       /* aumenta levemente */
    background-color: rgba(233, 129, 60, 0.226);  /* fundo um pouco mais intenso */

}


@media (max-width: 2100px) {
    .botao-adicionar-usuarios{
        right: 80px; 
    }
}

@media (max-width: 1400px) {
    .botao-adicionar-usuarios{
        position: fixed; 
        top: 320px;     
        right: 200px;    
        z-index: 2000;   
        transform: none; 
    }
}