/* Importa a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.dropdown {
  position: relative;
  width: 360px;
  font-family: 'Inter', sans-serif;
}

label {
margin-left: 2px;
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  color: #000000;
}


.dropdown-btn {
  width: 100%;
  height: 47px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  color: #333;
  transition: box-shadow 0.2s ease;
}


.dropdown-btn.open {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}


.dropdown-btn .arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #555;
  border-bottom: 2px solid #555;
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
}

.dropdown-btn.open .arrow {
  transform: rotate(135deg);
}


.dropdown-content {
  display: none;
  position: absolute;
  /* top: 105%; */
  left: 0;
  width: 108%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 4px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}


.dropdown-item {
  padding: 8px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease, color 0.2s ease;
}


.dropdown-item:hover {
  background-color: #fff2de; 
  color: #222;
}
