.titulo {
    color: #E57C3A;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    
    /* posicionamento */
    margin-left: 160px;  /* distância da borda esquerda */
    margin-top: 68px;    /* distância do header */
    margin-bottom: 20px;
}

.titulo::after {
    content: "";
    display: block;
    width: 45px;
    height: 1px;
    background-color: #E57C3A;
    margin-top: 6px;
    border-radius: 2px;
}
