<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    <!-- Inclui o header -->
    {% include 'componentes/header/header.html' %}

 <div class="container-produto">
    <div class="box-branca"></div>

    <div class="conteudo-sobre-box">
        <!-- Campo de imagem com pré-visualização -->
        <div class="campo-imagem">
            <div class="image-preview" id="imagePreview">
                <span>Preview</span>
            </div>
            <input type="file" id="imagem" name="imagem" accept="image/*" style="display:none;">
            <div class="adicionar-imagem-texto" id="adicionarImagem">Adicionar imagem</div>
        </div>

        <!-- Campos (componentes) -->
        <div class="campos-direita">
            {% include 'componentes/boxs/box_nome.html' %}

            {% set label = 'Tipo de Produto' %}
            {% set name = 'tipo' %}
            {% set id = 'tipo' %}
            {% set options = tipos_produto %}
            {% include 'componentes/boxs/dropdown_tipo.html' %}

            {% set label = 'Fornecedor' %}
            {% set name = 'fornecedor' %}
            {% set id = 'fornecedor' %}
            {% set options = fornecedores %}
            {% include 'componentes/boxs/dropdown_fornecedor.html' %}

            {% include 'componentes/boxs/box_quantidade.html' %}
            {% include 'componentes/boxs/box_data_entrada.html' %}

            {% set label = 'Unid. Medida' %}
            {% set name = 'unidade_medida' %}
            {% set id = 'unidade_medida' %}
            {% set options = unidades_medida %}
            {% include 'componentes/boxs/box_unidade_medida.html' %}

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/cadastrar_produto.js') }}"></script>

</body>
</html>
