<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    <!-- Inclui o header -->
    {% include 'componentes/header/header.html' %}

     <!-- Inclui o título -->
    {% with texto="GESTÃO" %}
        {% include 'componentes/titulos/titulo.html' %}
    {% endwith %}

    <!-- Chamando o componente do botão -->
    {% include 'componentes/botoes/botao_add_servico.html' %}
    
     <!-- Inclui o componente de botões -->
    {% include 'componentes/botoes/botaogestao.html' %}
    
</body>
</html>
