<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solicitacoes.css') }}">
</head>
<body>

    {% include 'componentes/alertas/alerta_sucesso.html' %}
    <!-- Inclui o header -->
    {% include 'componentes/header/header.html' %}
{% with texto="SOLICITAÇÕES" %}
        {% include 'componentes/titulos/titulo.html' %}
    {% endwith %}

    <div class="gestao-botao">
        {% include 'componentes/botoes/botao_gestao_add_solicitacao.html' %}
    </div>

    <div style="margin-left: 80vw;" class="link-arquivados">
        <a href="{{ url_for('solicitacoes_arquivadas') }}">
            <img src="{{ url_for('static', filename='images/arquivar.png') }}" 
                alt="Arquivados">
        </a>
    </div>


    <div class="solicitacoes-container">
        {% for solicitacao in solicitacoes %}
            {% include 'componentes/cards/card_solicitacao.html' %}
        {% endfor %}
    </div>

    <!-- Modal de Confirmação -->
    <div id="confirmation-modal" class="modal">
        <div class="modal-conteudo">
            <span class="fechar">&times;</span>
            <p id="modal-mensagem-confirmacao"></p>
            <div class="modal-botoes">
                <button id="btn-cancelar-acao" class="btn-cancelar">Cancelar</button>
                <button id="btn-confirmar-acao" class="btn-confirmar">Confirmar</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/solicitacoes_modal.js') }}"></script>
</body>
</html>
